# {{ ansible_managed }}
check process apache with pidfile /var/run/apache.pid
  start program = "/etc/init.d/apache start"
  stop program = "/etc/init.d/apache stop"
  if children > 250 then restart
  if 5 restarts within 5 cycles then timeout
